USE [master]
GO
/****** Object:  Database [DeMoQLSV]    Script Date: 11/01/2014 12:22:08 ******/
CREATE DATABASE [DeMoQLSV] ON  PRIMARY 
( NAME = N'DeMoQLSV', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DeMoQLSV.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DeMoQLSV_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DeMoQLSV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DeMoQLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DeMoQLSV]
GO
/****** Object:  User [MOBILE-0D7848E1\AngelPaby]    Script Date: 11/01/2014 12:22:08 ******/
CREATE USER [MOBILE-0D7848E1\AngelPaby] FOR LOGIN [MOBILE-0D7848E1\AngelPaby] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tbl_LOP]    Script Date: 11/01/2014 12:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LOP](
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_LOP] ([MaLop], [TenLop]) VALUES (N'12311323  ', N'11111111111111')
INSERT [dbo].[tbl_LOP] ([MaLop], [TenLop]) VALUES (N'aaaaaaaaa ', N'b')
INSERT [dbo].[tbl_LOP] ([MaLop], [TenLop]) VALUES (N'CNTT1     ', N'D6_CNTT1')
/****** Object:  Table [dbo].[tbl_GIAOVIEN]    Script Date: 11/01/2014 12:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GIAOVIEN](
	[MaGV] [nchar](10) NOT NULL,
	[TenGV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_GIAOVIEN] ([MaGV], [TenGV]) VALUES (N'GV1       ', N'a')
INSERT [dbo].[tbl_GIAOVIEN] ([MaGV], [TenGV]) VALUES (N'GV2       ', N'b')
INSERT [dbo].[tbl_GIAOVIEN] ([MaGV], [TenGV]) VALUES (N'GV3       ', N'c')
/****** Object:  Table [dbo].[tbl_NGUOIDUNG]    Script Date: 11/01/2014 12:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NGUOIDUNG](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_NGUOIDUNG] ([TaiKhoan], [MatKhau]) VALUES (N'admin', N'123456')
INSERT [dbo].[tbl_NGUOIDUNG] ([TaiKhoan], [MatKhau]) VALUES (N'dg', N'123456')
/****** Object:  Table [dbo].[tbl_SINHVIEN]    Script Date: 11/01/2014 12:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SINHVIEN](
	[MaSV] [nchar](10) NOT NULL,
	[TenSV] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[SDT] [int] NULL,
	[NgaySinh] [datetime] NULL,
	[MaLop] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV], [GioiTinh], [SDT], [NgaySinh], [MaLop]) VALUES (N'10        ', N'dg', N'nữ', 1, CAST(0x00007F3800000000 AS DateTime), N'aaaaaaaaa ')
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV], [GioiTinh], [SDT], [NgaySinh], [MaLop]) VALUES (N'11        ', N'dg', N'nữ', 1, CAST(0x00007F3800000000 AS DateTime), N'aaaaaaaaa ')
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV], [GioiTinh], [SDT], [NgaySinh], [MaLop]) VALUES (N'2         ', N'2', N'nam', 2, CAST(0x00007F3800000000 AS DateTime), N'CNTT1     ')
/****** Object:  Table [dbo].[tbl_MONHOC]    Script Date: 11/01/2014 12:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MONHOC](
	[MaMH] [nchar](10) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[MaGV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_MONHOC] ([MaMH], [TenMH], [MaGV]) VALUES (N'222334455 ', N'c%', N'GV2       ')
INSERT [dbo].[tbl_MONHOC] ([MaMH], [TenMH], [MaGV]) VALUES (N'3333      ', N'java', N'GV1       ')
INSERT [dbo].[tbl_MONHOC] ([MaMH], [TenMH], [MaGV]) VALUES (N'7         ', N'33', N'GV3       ')
/****** Object:  Table [dbo].[tbl_DIEM]    Script Date: 11/01/2014 12:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DIEM](
	[MaSV] [nchar](10) NOT NULL,
	[MaLop] [nchar](10) NOT NULL,
	[MaMH] [nchar](10) NOT NULL,
	[Diem] [int] NOT NULL,
 CONSTRAINT [PK_tbl_DIEM] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaLop] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_tbl_SINHVIEN_tbl_LOP]    Script Date: 11/01/2014 12:22:11 ******/
ALTER TABLE [dbo].[tbl_SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SINHVIEN_tbl_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[tbl_LOP] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_SINHVIEN] CHECK CONSTRAINT [FK_tbl_SINHVIEN_tbl_LOP]
GO
/****** Object:  ForeignKey [FK_tbl_MONHOC_tbl_GIAOVIEN]    Script Date: 11/01/2014 12:22:11 ******/
ALTER TABLE [dbo].[tbl_MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MONHOC_tbl_GIAOVIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[tbl_GIAOVIEN] ([MaGV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_MONHOC] CHECK CONSTRAINT [FK_tbl_MONHOC_tbl_GIAOVIEN]
GO
/****** Object:  ForeignKey [FK_tbl_DIEM_tbl_MONHOC]    Script Date: 11/01/2014 12:22:11 ******/
ALTER TABLE [dbo].[tbl_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DIEM_tbl_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[tbl_MONHOC] ([MaMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DIEM] CHECK CONSTRAINT [FK_tbl_DIEM_tbl_MONHOC]
GO
/****** Object:  ForeignKey [FK_tbl_DIEM_tbl_SINHVIEN]    Script Date: 11/01/2014 12:22:11 ******/
ALTER TABLE [dbo].[tbl_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DIEM_tbl_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[tbl_SINHVIEN] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DIEM] CHECK CONSTRAINT [FK_tbl_DIEM_tbl_SINHVIEN]
GO
